        /* Importa a fonte Inter do Google Fonts */
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
        
        body {
            font-family: 'Inter', sans-serif;
        }

        /* Classes CSS para gerenciar o estado colapsado da barra lateral */
        /* Oculta os textos da barra lateral quando colapsada para uma interface mais limpa */
        .sidebar-collapsed .sidebar-text {
            display: none;
        }

        /* Centraliza os ícones da barra lateral quando colapsada */
        .sidebar-collapsed .sidebar-item {
            justify-content: center;
        }

        /* Remove a margem dos ícones quando a barra lateral está colapsada para centralizá-los corretamente */
        .sidebar-collapsed .sidebar-item svg {
            margin-right: 0;
        }

        /* Ajusta o padding do botão "Criar novo" quando colapsado */
        .sidebar-collapsed .create-new-button-content {
            padding: 0;
            justify-content: center;
        }

        /* Classe personalizada para a largura de 25 */
        .w-25 {
            width: 6.25rem; /* 100px */
        }
